#include <dt-bindings/zmk/matrix_transform.h>

/ {
    // 短いエイリアスを定義
    aliases {
        kscan-0 = &kscan0;
    };

    chosen {
		zmk,kscan = &kscan-0; // この行の末尾にセミコロンを追加
	};
    
    // kscan0ノードをルート直下へ移動
    kscan0: kscan_0 {
        compatible = "zmk,kscan-gpio-matrix";
        wakeup-source;
        
        diode-direction = "col2row";
        
        row-gpios
            = <&gpio0 4 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&gpio0 5 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            ;
        
        col-gpios
            = <&gpio0 6 (GPIO_PULL_UP)>
            , <&gpio0 7 (GPIO_PULL_UP)>
            ;
    };
};