#include <dt-bindings/zmk/matrix_transform.h>

/ {
    chosen {
        zmk,kscan = &kscan0;
    };
    
    kscan0: kscan_0 {
        compatible = "zmk,kscan-gpio-matrix";
        wakeup-source;
        
        diode-direction = "col2row"; // ダイオードの向き
        
        // 行（ROW）のGPIOピンを定義
        row-gpios
            = <&gpio0 PIN_A (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&gpio0 PIN_B (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            ;
        
        // 列（COL）のGPIOピンを定義
        col-gpios
            = <&gpio0 PIN_C (GPIO_PULL_UP)>
            , <&gpio0 PIN_D (GPIO_PULL_UP)>
            ;
    };
};